*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #ff22aa, #34f4a1);
    color: white;
    transition: height 0.5s ease-in-out;

    &__title {
        letter-spacing: 4px;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        text-transform: uppercase;
    }
}

.search-form {
    display: flex;
    flex-direction: column;

    &__fraze {
        background: transparent;
        width: 250px;
        height: 50px;
        padding: 20px 10px;
        font-size: 20px;
        color: white;
        text-align: center;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
    }

    &__submit {
        margin-top: 30px;
        height: 40px;
        text-transform: uppercase;
        outline: none;
        border: none;
        border-radius: 2%;
        background: white;
        color: #171717;
    }
}

.no-results {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: sans-serif;
}


.container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    transition: opacity 0.2s ease-in-out;
}

.got-items {
    height: 400px;
    margin-bottom: 15px;
}
